{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head> 
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PWP8BMZ');</script>
<!-- End Google Tag Manager -->
    <title>{% block title %}{% endblock %}</title>
     <link rel="shortcut icon" href="{% static 'encyclopedia/favicon.ico' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="{% static 'encyclopedia/styles.css' now 'U' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'encyclopedia/github-markdown.css' now 'U' %}"
      rel="stylesheet"
    />
  </head>
  <body class="markdown-body">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PWP8BMZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="row">
      <div class="sidebar col-lg-2 col-md-3">
        <h2>Wiki</h2>
        <form autocomplete="off" method="GET">
          <input
            class="search"
            type="text"
            name="q"
            placeholder="Search Encyclopedia"
            value="{{ request.GET.q}}"
          />
        </form>
        <div>
          <a href="{% url 'index' %}">Home</a>
        </div>
        <div><a href="{% url 'new' %}">Create New Page</a></div>
        <div><a href="{% url 'randomPage' %}">Random Page</a></div>
        {% block nav %} {% endblock %}
      </div>
      <div class="main col-lg-10 col-md-9">{% block body %} {% endblock %}</div>
    </div>
  </body>
</html>
